﻿
#MainContent_Emp_DropDownList, #MainContent_Cert_DropDownList {
    width: 400px;
    font-size: large;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    max-height: 200px;
    overflow-y: scroll;
    position: relative;
}
