﻿.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
    color:red;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

    .table-fixed tbody td,
    .table-fixed tbody th,
    .table-fixed thead > tr > th {
        float: left;
        position: relative;
        &::after

{
    content: '';
    clear: both;
    display: block;
}
}
