﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/*Collapsible dropdown boxes*/
.open-collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/*.active, .open-collapsible:hover {
    background-color: #555;
}*/

.collapsible-content {
    padding: 0 18px;
    /*display: block;
    overflow: hidden;*/
    background-color: #f1f1f1;
}
.main_company_details {
    padding: 0 18px;
    display: block;
    /*overflow: hidden;*/
    background-color: #f1f1f1;
}
/*End Collapsible dropdown boxes*/
.review_label{
    font-weight:bolder;
}
.grey-out {
    color: lightslategray;
    font-weight: bold;
}

.grey{
    background-color:whitesmoke;
}

.left-border {
    border-left: 2px solid white;
}

.cup-border {
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tiny-me {
    /*height:1px;*/
    overflow: hidden;
}

.cursor {
    cursor: pointer;
}

label.radSpan {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*.radSpan-title{
    padding-top:20px;
    padding-bottom:20px;
}*/
.radSpan input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    z-index:-1;
}
.btn span.fa {
    opacity: 0;
}
.btn.active span.fa {
    opacity: 1;
    
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
 
}
.card-header label {
    width: 100%;
    height: 100%;
    font-size: larger;
}
.my-card {
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: none;
    height: 100%;
}
label.active{
    background-color: paleturquoise !important;
}
.my-card > div {
    position: relative;
    top: -20px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 30px;
}
.card-header {
    border: 1px solid lightgrey;
    padding: 2px !important;
}
/*.radspan.fa{
    position: relative;
    top: 20px;
}*/