﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Progress.aspx.cs" Inherits="FertCertWebApp.Progress" MasterPageFile="~/Site.Master"%>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h1>View Progress Tracking</h1>
        <p class="lead">UU Stormwater Certification Tracker</p>
    </div>

    <%-- how is best to handle? --%>
</asp:Content>
