﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UpdateDirectory.aspx.cs" Inherits="FertCertWebApp.UpdateDirectory" MasterPageFile="~/Site.Master" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h1>Updating Companies and Employees</h1>
        <p class="lead">UU Stormwater Certification Tracker</p>
    </div>

</asp:Content>